#container{
    height: 800px;
    width: 1000px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.outer{
    width: 200px;
    height: 150px;
    display: flex;
}

.inner{
    width: 100px;
    height: 150px;
}

